{% extends 'base.html' %}
{% load static %}
{% block title %}{{ ad.title }} details{% endblock %}
{% block menu %}
    {% include 'partial/base_menu.html' %}
    {% include 'partial/detail_menu.html' %}
{% endblock %}
{% block content %}
    <h1>Ad</h1>
    {% include "partial/messages.html" %}
    <div class="card mb-2">
        {% include 'partial/ad_body.html' with in_details=True %}
    </div>
    {% if request.user.is_authenticated %}
        <div>
            <button type="button" class="mb-1 nav-link border add-comment" data-action="addComment" data-visible="toVisible">
                Add comment
            </button>
            <form action="" method="POST" class="border comment-form" hidden>
                {% csrf_token %}
                <label for="text">Write your comment here...:</label><br>
                <textarea id="text" name="text" rows="5" cols="50">
                </textarea><br>
                <input class="btn btn-light border border-black send-comment" data-url="{% url 'api_v1:comment-list' %}" data-ad="{{ ad.pk }}" type="submit" value="Send comment"/>
            </form>
        </div>
    {% endif %}
    <div>
        {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Author: {{ comment.author }}</h5>
                    <p class="card-text">{{ comment.text }}</p>
                    <p class="card-text">{{ comment.created_at }}</p>
                    {% if request.user == comment.author %}
                        <a href="" class="delete-comment" data-comment="{{ comment.pk }}" data-url="{% url 'api_v1:comment-list' %}" data-refresh="{% url 'webapp:ad_view' pk=ad.pk %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No comments</p>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        async function makeRequest(url, method='GET', data={}, token=null) {
            let headers = {
                "Content-Type": "application/json"
            };
            if (token) {
                headers['Authorization'] = 'Token ' + token;
            }
            let body = JSON.stringify(data);
            let response = await fetch(url, {method, headers, body: JSON.stringify(data)});
            if (response.ok) {
                return await response.json();
            } else {
                let error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
        }

        async function onAddCommentClick(e) {
            e.preventDefault();
            let commentForm = document.getElementsByClassName('comment-form');
            if (e.currentTarget.dataset.visible == "toVisible") {
                e.currentTarget.dataset.visible = 'toNotVisible';
                e.currentTarget.textContent = 'Hide form';
                commentForm[0].hidden = false;
            } else {
                e.currentTarget.dataset.visible = 'toVisible';
                e.currentTarget.textContent = 'Add comment';
                commentForm[0].hidden = true;
            };
        }

        async function onSendCommentClick(e) {
            e.preventDefault();
            let text = document.getElementById('text').value;
            let url = e.currentTarget.dataset['url'];
            let adKey = Number(e.currentTarget.dataset['ad']);
            let method = 'POST';
            let response = await makeRequest(
                url,
                method,
                {
                    "text": text,
                    "ad": adKey
                },
                localStorage.getItem('apiToken')
            );
        }

        async function onDeleteCommentClick(e) {
            e.preventDefault();
            let commentKey = Number(e.currentTarget.dataset['comment']);
            let url = e.currentTarget.dataset['url'] + commentKey + "/";
            let refreshUrl = e.currentTarget.dataset['refresh'];
            let method = 'DELETE';
            let response = await makeRequest(
                url,
                method,
                {
                    "comment": commentKey
                },
                localStorage.getItem('apiToken')
            );
        }

        async function onClickRefresh(e) {
            e.preventDefault();
            location.reload();
        }

        async function onLoad() {
            let addComment = document.getElementsByClassName('add-comment');
            addComment[0].addEventListener('click', onAddCommentClick);

            let sendComment = document.getElementsByClassName('send-comment');
            sendComment[0].addEventListener('click', onSendCommentClick);
            sendComment[0].addEventListener('click', onClickRefresh);

            let buttonsDeleteComment = document.getElementsByClassName('delete-comment');
            for (let buttonDeleteComment of buttonsDeleteComment) {
                buttonDeleteComment.addEventListener('click', onDeleteCommentClick);
                buttonDeleteComment.addEventListener('click', onClickRefresh);
            }
        }

        window.addEventListener('load', onLoad);
    </script>
{% endblock %}
