{% extends 'base.html' %}
{% load static %}
{% block title %}No moderate ads list{% endblock %}
{% block content %}
    <h1>No moderate ads list</h1>
    {% include 'partial/ads_list.html' with moderate=True %}
{% endblock %}
{% block script %}
    <script>
        async function makeRequest(url, method='GET', data={}, token=null) {
            let headers = {
                "Content-Type": "application/json"
            };
            if (token) {
                headers['Authorization'] = 'Token ' + token;
            }
            let body = JSON.stringify(data);
            let response = await fetch(url, {method, headers, body: JSON.stringify(data)});
            if (response.ok) {
                return await response.json();
            } else {
                let error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
        }

        async function onClick(e) {
            e.preventDefault();
            let d = e.currentTarget.dataset['action'];
            let url = e.currentTarget.dataset['url'];
            let method = 'PUT';
            let response = await makeRequest(
                url,
                method,
                {'action': d},
                localStorage.getItem('apiToken')
            );
            let parent = e.target.parentNode;
            parent.remove();
        }

        async function onLoad() {
            let buttonsApprove = document.getElementsByClassName('moderation-approve');
            let buttonsReject = document.getElementsByClassName('moderation-reject');
            for (let buttonApprove of buttonsApprove) {
                buttonApprove.addEventListener('click', onClick);
            }
            for (let buttonReject of buttonsReject) {
                buttonReject.addEventListener('click', onClick);
            }
        }

        window.addEventListener('load', onLoad);
    </script>
{% endblock %}